/* Unified comment-text styles - consolidated from all duplicates */

/* Base comment-text style - use this as the main definition */


/* Specific variations for different contexts */
.reviews-list .comment-text {
  font-size: 13px;
  color: #374151;
}

.photos-modal .comment-text {
  color: #262626;
}

.services-page .comment-text {
  color: #374151;
}

.photos-page .comment-text {
  color: #475569;
  line-height: 1.5;
}